body{
	background-color: #010326!important;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #365073!important;
}


.navbar-inverse{
	background-color: #010326!important; 
	border-color: #010326!important;
}

#principal-suit img{
	width: 100%!important;

}

.busquedas .form-group{
	margin-left: 0px!important;
	margin-right: 0px!important;
}

.enfatizador{
	padding: 10px;
	margin-bottom: 30px;
	background-color: #eee;
}

.side-nav>li>a> span{

	float: right;
}

.msnrequeridos{
	text-align: right;
	color: #B22222
}

.abajo{
	padding: 10px 0px!important;
    width: 25px!important;
    float: left!important;
}

.ultima img{
	width: 100%;
}

#principal-suit{
	background-color: #DEECF9;
}

#espacio{
	margin-bottom: 20px;
}

.contenedores{
	padding-bottom: 20px;
}

.breadcrumb{
	background-color: #DEECF9!important;
}
.alinear{
	width: 30%;
	margin: auto;
}
.pasos-registro{
	width: 100%;
	overflow:hidden;
    position:relative;
    display:inline-block;
}
.paso{
	padding: 10px;
	border-radius: 40px 40px 40px 40px;
	-moz-border-radius: 40px 40px 40px 40px;
	-webkit-border-radius: 40px 40px 40px 40px;
	background-color:#010326;
	color: #fff;
	width: 40px; 
	text-align: center;
	float: left;
}

.separador{
	width: 40px;
	border-bottom: solid 2px #010326;
	position: relative;
	float: left;
	margin: 30px 10px 0px 10px;
}

.activado{
	background-color:#365073!important;
}

.contenedor-imagen{
	max-width: 100px;
	margin: auto;
}
.contenedor-imagen img{
	width: 100%;
	padding-right: 10px;
}

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.datosimg{
	margin-top: 20px;

}

.datosimg .jumbotron{
	padding: 5px!important;
	min-height: 120px;
}

#eltraslado2{
	display: none;
}

.paralela {
    width: 20px;
    background: #0D1826;
    position: fixed;
    float: left;
    z-index: 999;
    margin-top: 60px;
    height: 100px;
    border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border: 0px solid #000000;
}

.cabezera{
	max-height: 80px;
	width: 50%;
	margin: auto;
	overflow: hidden;
}

.cabezera img{
	width: 100%;
}

.alineador{
	width: 100%;
	margin:auto;
	position: relative;
	height: 260px;
	overflow: hidden;
	margin-top: 30px;
}
.alineador img{
	width: 100%;
}

.paralela:hover{
	background:#365073;
}

.table th{
	text-align: center;
}
.table td{
	text-align: center;
}

.tablaboton{
	width: 15%!important;
}

.botones-principal{
	text-align: center;
}

.botn{
	margin-top: 15px;
}

td a{
	width: 60%;
    margin: auto!important;
    margin-bottom: 5px!important;
}

.oculto1{
	display: none;
}

.buscadores {
    float: left;
    list-style: outside none none;
    max-height: 150px;
    overflow: scroll;
    padding: 0;
    position: absolute;
    text-decoration: none;
    width: 86%;
    z-index: 100;
    background: #ffffff;
    overflow-x:hidden;
    border: 1px solid #e1e1e1;
}

.miminibuscador, .miminibuscador:hover {
    color: #000 !important;
    text-decoration: none;
}

.miminibuscador:hover {
    color: blue;
    text-decoration: none;
}

.buscadores li{
	padding-left:5px;
	padding-top: 10px; 
}

.buscadores li:hover{
	background-color: #e1e1e1;
}


#principal-suit div{

	margin-top: 21px;

}

.validadorformularios{
	margin-top: 25px;

}

.contenedoralertas{
	width: 81%;
    position: fixed;
    margin-top: -190px;
    margin-left: -15px;
    z-index: 100;
}

#filebutton{
	display: none;
}

#agregaactividad{
	float: right;
    vertical-align: middle;
    margin-top: 30px;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
	#page-wrapper{
		min-height: 600px; 
	}	
}

@media only screen and (min-width: 993px){
	#page-wrapper{
		min-height: 720px; 
	}	
}